.header {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #DD4A48;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    -webkit-text-stroke: 1px #000;
}

.superSpan {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #DD4A48;
    -webkit-text-stroke: .3px #000;
}

.image {
    height: 20px;
    margin-right: 5px;
}

.superBtn {
    display: flex;
    justify-content: center;
}

.selfBtn {
    margin: 10px 5px 0 5px;
}