.brown {
    border-bottom: 3px solid #622828;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}

.header {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #DD4A48;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    -webkit-text-stroke: 1px #000;
}